ion-avatar.is-icon-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3880ff;

  ion-icon {
    color: white;
    font-size: 1.5em;
    zoom: 1.5;
    cursor: pointer;
  }
}
.background {
  background: #3880ff;
}
ion-card {
  overflow: visible;
  position: relative;

  ion-item {
    --background: transparent;
  }

  &:after {
    content: "";
    width: 2px;
    background-color: var(--cs-background-secondary, #ffffff);
    border: 1px solid #919191;
    top: 20px;
    left: -20px;
    bottom: -30px;
    position: absolute;
  }

  &:before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--cs-background-accent, #0090d0);
    top: 19px;
    left: -26px;
    position: absolute;
    z-index: 999;
  }
}

ion-col > ion-card:last-child {
  &:after {
    display: none;
  }
}

ion-spinner {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 9999999999;
  overflow: hidden;
  background: transparent;
  left: 50%;
  margin-left: -4em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}
