<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu/inbox/PR_PROCESS" (click)="dismiss()"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="requestData">{{requestData.requestId}}</ion-title>
    </ion-item>
    <div segment-block>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="info" checked>
          <ion-label>Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="comments">
          <ion-label>Comments</ion-label>
        </ion-segment-button>
        <ion-segment-button value="attachments">
          <ion-label>Attachments</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="requestData">
  <ion-item line="none">
    <ion-label slot="start" color="primary">{{requestData.requestType}}</ion-label>
  </ion-item>
  <ion-spinner *ngIf="loading" name="crescent" class="loader" color="primary"></ion-spinner>
  <div *ngIf="segmentChange == 'info'">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked" color="primary">Requested By<ion-text>*</ion-text>
            </ion-label>
            <ion-input [readonly]=true [value]="requestData.header.AFNAM"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" color="primary">PR DocType<ion-text>*</ion-text>
            </ion-label>
            <ion-input [readonly]=true></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="stacked">PR Type<ion-text>*</ion-text>
            </ion-label>
            <ion-input [readonly]=true [value]="requestData.header.PR_TYPES"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" color="primary">Block/Section<ion-text>*</ion-text>
            </ion-label>
            <ion-input [readonly]=true [value]="requestData.header.BLOCK_SECTION"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <mat-accordion *ngIf="requestData">
            <mat-expansion-panel *ngFor="let data of requestData.lineItems">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{requestData.requestId}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ion-item>
                <ion-label position="stacked">Account Assignment Category</ion-label>
                <ion-input readonly=true [value]="data.lineItems.KNTTP"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Item Category</ion-label>
                <ion-input readonly=true [value]="data.lineItems.EPSTP"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Short Text </ion-label>
                <ion-input readonly=true [value]="data.lineItems.MAKTX"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Material Group Description</ion-label>
                <ion-input readonly=true [value]="data.lineItems.TXZ01"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Plant</ion-label>
                <ion-input readonly=true [value]="data.lineItems.WERKS"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Quantity</ion-label>
                <ion-input [value]="data.lineItems.MENGE"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Total</ion-label>
                <ion-input readonly=true [value]="data.lineItems.PREIS"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Budget</ion-label>
                <ion-input readonly=true [value]="data.lineItems.WTJHR"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Stock</ion-label>
                <ion-input readonly=true [value]="data.lineItems.LABST"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Order</ion-label>
                <ion-input [value]="returnedDataOrder.length > 0? returnedDataOrder : data.lineItems.ORDER_NO">
                </ion-input>
                <ion-icon slot="end" name="search" (click)="openlistPopover('AUFNR','KTEXT')"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Cost Center</ion-label>
                <ion-input [value]="returnedDataCost.length > 0? returnedDataCost : data.lineItems.KOSTL"></ion-input>
                <ion-icon slot="end" name="search" (click)="openlistPopover('KOSTL','LTEXT')"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">G/L Account</ion-label>
                <ion-input [value]="returnedDataGL.length > 0? returnedDataGL : data.lineItems.SAKNR"></ion-input>
                <ion-icon slot="end" name="search" (click)="openlistPopover('SAKNR','TXT20')"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">F Area</ion-label>
                <ion-input [value]="returnedDataFarea.length > 0? returnedDataFarea : data.lineItems.FKBER"></ion-input>
                <ion-icon slot="end" name="search" (click)="openlistPopover('FKBER','FKBTX')"></ion-icon>
              </ion-item>
            </mat-expansion-panel>
          </mat-accordion>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="segmentChange == 'comments'">
    <ion-grid *ngIf="requestData != null">
      <ion-row>
        <ion-col size="11" offset="1">
          <ion-card class="ion-padding" *ngFor="let item of requestData.logs">
            <span span-small font-bold>{{dateService.getPortalDate(item.endDate)}}</span>
            <ion-item button transparent class="no-padding ion-margin-top" lines="none">
              <ion-avatar slot="start" class="is-icon-avatar background">
                <ion-icon name="person"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2 text-size-l>{{item.actualUser}}
                </h2>
                <h4>{{item.activityText}}</h4>
                <div clearfix></div>
              </ion-label>
            </ion-item>
            <ion-card-content class="no-padding">
              <p class="text-size-l font-weight-bold ion-text-wrap ion-padding-top">{{item.comments}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="segmentChange == 'attachments'" style="padding: 1rem;">
    <ion-text color="primary" class="ion-padding">
      <h1>Attachments</h1>
    </ion-text>
    <div *ngIf="requestData.attachments.length == 0">
      <ion-label color="secondary">No Attachments</ion-label>
    </div>
    <ion-list *ngFor="let item of requestData.attachments">
      <ion-item>
        <ion-icon color="primary" slot="start" name="document"></ion-icon>
        <ion-label *ngIf="item">{{item.fileName}}</ion-label>
        <ion-icon href="item.url" download color="primary" slot="end" name="download" (click)="downloadFile(item.url,item.fileName)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <br>
</ion-content>
<ion-footer class="ion-no-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button class="ion-no-margin" expand="full" color="primary" (click)="toggleSagment()">
          <ion-icon slot="start" name="eye"></ion-icon>
          View Primary Document
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button class="ion-no-margin" expand="full" color="success" (click)="submitRequest('Approve')">
          <ion-icon slot="start" name="thumbs-up"></ion-icon>
          Approve
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="ion-no-margin" expand="full" color="danger" (click)="submitRequest('Reject')">
          <ion-icon slot="start" name="thumbs-down"></ion-icon>
          Reject
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
