<ion-content class="ion-padding">
  <ion-icon name="arrow-round-back" color="light" style="zoom: 2;" [routerLink]="['/login']"></ion-icon>
  <ion-card class="animated fadeInUp" id="cards">
    <ion-card-header>
      <ion-img src="assets/imgs/logo/alkem-logo.png"></ion-img>
      <br>
      <ion-card-title color="primary">Recover your password</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #formdata="ngForm">
        <ion-item>
          <ion-label position="floating">Email
            <ion-text color="primary">*</ion-text>
          </ion-label>
          <ion-input type="email" name="email" #email="ngModel" ngModel required email>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="email.touched && email.invalid">
          <p>Please Enter email Id</p>
        </ion-text>
        <br><br>
        <ion-button (click)="sendEmail(formdata.value)" fill="solid" expand="block" shape="round"
          [disabled]="formdata.invalid">
          Send Reset Link
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <div id="footer">
    <ion-text color="light" style="display: flex; justify-content: center;">
      <h5>Powered by SmartDocs Inc.</h5>
    </ion-text>
  </div>
</ion-content>
