ion-content {
  --background: linear-gradient(0deg, #21aaca 0%, #1319a0 99%);
}

ion-card {
  display: block;
  --background: white;
  width: 90%;
  height: fit-content;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ion-img {
  width: 30%;
  height: 30%;
  margin: auto;
}