<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Search {{optionValue}}</ion-title>
    <ion-icon class="ion-padding" slot="start" name="arrow-back" style="zoom: 1.5;" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating" color="primary">{{optionValue}}</ion-label>
          <ion-select [(ngModel)]="data.key">
            <ion-select-option [value]="options.first" selected>{{optionValue}}</ion-select-option>
            <ion-select-option [value]="options.second">Description</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Search here</ion-label>
          <ion-input name="search" ngModel [(ngModel)]="data.value"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="searchList()" expand="full" fill="solid">
          Search
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    <div *ngIf="!dataSource">
      <ion-item>
        <ion-label color="primary">No Data Found</ion-label>
      </ion-item>
    </div>
    <div>
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="Order no.">
        <th mat-header-cell *matHeaderCellDef> {{optionValue}} </th>
        <td mat-cell *matCellDef="let element"> {{element['position']}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="onRowSelected(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</ion-content>
