<ion-header>
  <ion-toolbar>
    <ion-title>Search Coding Template</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
