h3 {
  margin-left: 1rem;
}
ion-content {
  --background: ghostwhite !important;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #00c0e8;
}
::ng-deep .mat-step-header .mat-step-label {
  font-size: 1.3rem;
}
mat-form-field {
  padding: 1rem;
  width: 100%;
}

#submitbutton {
  float: right;
}

ion-spinner {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 9999999999;
  overflow: hidden;
  background: transparent;
  left: 50%;
  margin-left: -2em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}