<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="light" (click)="closeForm()">
      <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <ion-text color="primary" id="heading" class="animated lightSpeedIn">
    <h3><b>Request Initiation</b></h3>
  </ion-text>
  <ion-spinner name="crescent" class="loader animated bounceOut" *ngIf="loading" color="primary"></ion-spinner>
  <ion-card>
    <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form #firstFormGroup="ngForm">
          <ng-template matStepLabel>Header</ng-template>
          <ng-template #dynamicForm></ng-template>
        </form>
        <br>
        <div class="animated fadeInDown">
          <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form #secondFormGroup="ngForm">
          <ng-template matStepLabel>Details</ng-template>
          <br>
          <ng-template #dynamicLineItem></ng-template>
          <br>
          <div>
            <button mat-stroked-button color="primary" class="animated fadeInDown" matStepperPrevious>Back</button>
            <button mat-stroked-button color="primary" class="animated fadeInDown" matStepperNext
              style="float: right;">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form #thirdFormGroup="ngForm">
          <ng-template matStepLabel>Attachments</ng-template>
          <input type="file" name="files" ngModel id="file" (change)="showFile($event.target.files)" #file multiple
            hidden>
          <ion-button (click)="file.click()" fill="solid">
            Upload files
          </ion-button>
          <ion-button (click)="openCamera()" class="animated bounceInUp">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
          <br>
          <ion-grid>
            <ion-row id="grid">
              <ion-col size="4">
                <ion-text color="primary">
                  <h4>Filename</h4>
                </ion-text>
              </ion-col>
              <ion-col size="4" *ngIf="files">
                <ion-text color="primary">
                  <h4>Size</h4>
                </ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text color="primary" class="animated fadeInDown">
                  <h6>Primary Document</h6>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div *ngIf="files">
            <ion-grid *ngFor="let data of files; index as i">
              <ion-row>
                <ion-col size="4">
                  <ion-text color="primary">
                    <p>{{data.name}}</p>
                  </ion-text>
                </ion-col>
                <ion-col size="4">
                  <ion-text color="primary">
                    <p>{{globalService.bytesToSize(data.image? data.image.size : data.size)}}</p>
                  </ion-text>
                </ion-col>
                <ion-col size="4" style="display: flex; justify-content: center; align-items: center;">
                  <ion-text color="primary">
                    <mat-radio-group aria-label="select" (change)="onItemChange($event)" name="PrimaryDoc">
                      <mat-radio-button [value]="data"></mat-radio-button>
                    </mat-radio-group>
                  </ion-text>
                  <ion-icon name="trash" color="danger" (click)="onRemoveImage(i)" style="zoom: 1.5;"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <br><br>
          <div>
            <button mat-stroked-button class="animated fadeInDown" color="primary" matStepperPrevious>Back</button>
            <button mat-stroked-button class="animated fadeInDown" color="primary" matStepperNext
              style="float: right;">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form #lastFormGroup="ngForm" (submit)="submitForm(lastFormGroup.value)">
          <ng-template matStepLabel>Submit</ng-template>
          <ion-item>
            <ion-label position="floating" class="animated fadeInLeft">Comments<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-textarea placeholder="add Comments..." #comment="ngModel" ngModel name="comment" required>
            </ion-textarea>
          </ion-item>
          <span *ngIf="comment.touched && comment.invalid">
            <ion-text color="danger">
              Please Add Comments
            </ion-text>
          </span>
          <br>
          <br>
          <div>
            <button mat-stroked-button color="primary" class="animated fadeInDown" matStepperPrevious>Back</button>
            <button id="submitbutton" type="submit" class="animated fadeInDown" color="primary" mat-stroked-button
              [disabled]="!lastFormGroup.valid">
              Submit
            </button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </ion-card>
</ion-content>
