ion-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  left: 50%;
  margin-left: -2em;
}

.loader,
.loader:after {
  content: "";
  border-radius: 50%;
  width: 4em;
  height: 4em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}
