<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/inbox"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-spinner name="crescent" class="loader" *ngIf="loading" color="primary"></ion-spinner>
  <ion-grid *ngIf="accountInfo">
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-padding ion-text-center animated fadeInDown">
          <ion-avatar slot="start" class="is-icon-avatar background">
            <ion-icon name="person" style="zoom: 3.0"></ion-icon>
          </ion-avatar>
          <ion-card-content>
            <h1 text-size-xlg>{{accountInfo.login}}</h1>
            <h1 text-size-lg>{{accountInfo.firstName}} {{accountInfo.lastName}}
            </h1>
            <p text-size-p>{{accountInfo.email}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item class="animated fadeInUp" button [routerLink]="['/user-profile/settings']">
      <ion-avatar slot="start" class="is-icon-avatar background">
        <ion-icon name="options"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Settings</h2>
      </ion-label>
    </ion-item>
    <ion-item class="animated fadeInUp" button (click)="openContact()">
      <ion-avatar slot="start" class="is-icon-avatar background">
        <ion-icon name="contacts"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Contact Us</h2>
      </ion-label>
    </ion-item>
    <ion-item class="animated fadeInUp" button (click)="onLogout()">
      <ion-avatar slot="start" class="is-icon-avatar background">
        <ion-icon name="log-out"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Logout</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
