ion-card {
  margin-top: 1rem;
  background: #fafafa;
  // Settings Avatar
  ion-avatar {
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

ion-button {
  .active {
    color: var(--cs-icon-color-primary, #00c0e8) !important;
  }
}

ion-avatar.is-icon-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3880ff;

  ion-icon {
    color: white;
    font-size: 1.5em;
  }
}

.background {
  background-color: #3880ff;
}

ion-spinner {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 9999999999;
  overflow: hidden;
  background: transparent;
  left: 50%;
  margin-left: -2em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}
