<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alkem</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="profilePopover($event)">
        <ion-icon name="contact" color="light" slot="end" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="is-empty-state-content" *ngIf="!reportData"
    style="padding: 2rem;display: flex; align-items: center; flex-direction: column;">
    <img src="assets/imgs/documents-empty-pngrepo-com.png" width="242" height="242" />
    <ion-text color="primary" class="ion-text-center">
      <h3>Nothing to show here</h3>
    </ion-text>
  </div>
  <ion-text color="primary">
    <h3 style="margin-left: 1rem;">Report</h3>
  </ion-text>
  <ion-spinner *ngIf="loading" name="crescent" class="loader" color="primary"></ion-spinner>
  <ion-grid *ngIf="reportData">
    <ion-row>
      <ion-col size="12" *ngFor="let request of reportData; index as i">
        <ion-card class="animated fadeInUp" (click)="openReportDetail(i,request.requestType)">
          <ion-card-header color="primary">
            <ion-card-title class="animated lightSpeedIn">
              {{request.requestId}}
            </ion-card-title>
            <ion-button class="animated slideInLeft" fill="outline" color="primary">
              <ion-icon slot="icon-only" name="clipboard" color="light"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="ion-text-center">
              <ion-item>
                <ion-text class="animated fadeInLeft" color="primary">Req. ID: </ion-text> &nbsp;{{request.requestId}}
              </ion-item>
              <ion-item>
                <ion-text class="animated fadeInLeft" color="primary">Req. Type: </ion-text>
                &nbsp;{{request.requestType}}
              </ion-item>
              <ion-item>
                <ion-text class="animated fadeInLeft" color="primary">Created By: </ion-text>
                &nbsp;{{request.createdBy}}
              </ion-item>
              <ion-item>
                <ion-text class="animated fadeInLeft" color="primary">Created Date: </ion-text>&nbsp;
                {{request.createdDate | date : 'MM/dd/yy'}}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
