ion-text {
  --background: ghostwhite;
}

.item-content {
  --background: #3880ff;
  --color: white;
}

ion-card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

ion-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}
ion-spinner {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 9999999999;
  overflow: hidden;
  background: transparent;
  left: 50%;
  margin-left: -2em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}