ion-content {
  --background: linear-gradient(0deg, #21aaca 0%, #1319a0 99%);
}

ion-card {
  display: block;
  --background: white;
  width: 90vw;
  height: fit-content;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.myCard {
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-iteration-count: initial;
}

ion-img {
  width: 30%;
  height: 30%;
  margin: auto;
}

ion-icon {
  position: absolute;
  right: 0;
  top: 1.6rem;
  zoom: 1.2;
}

.rememberme {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-input {
  --background: transparent;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
