<ion-content>
  <ion-card class="ion-padding animated fadeInUpBig myCard">
    <form #formdata="ngForm">
      <ion-img src="assets/imgs/logo/alkem-logo.png"></ion-img>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username<ion-text color="primary">*</ion-text>
          </ion-label>
          <ion-input type="text" name="username" ngModel #username="ngModel" required></ion-input>
        </ion-item>
        <span *ngIf="username.touched && username.invalid">
          <ion-text color="danger">
            Please Enter Username
          </ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Password<ion-text color="primary">*</ion-text>
          </ion-label>
          <ion-icon [name]="!showIcon? 'eye-off': 'eye'" (click)="showPassword()" color="primary"></ion-icon>
          <ion-input [type]="!showIcon? 'password': 'text'" name="password" #password="ngModel" ngModel
            (keypress)="onKeyPress($event.keyCode, formdata)" required>
          </ion-input>
        </ion-item>
        <span *ngIf="password.touched && password.invalid">
          <ion-text color="danger">
            Please Enter password
          </ion-text>
        </span>
      </ion-card-content>
    </form>
    <div class="rememberme">
      <ion-checkbox name="rememberMe" ngModel checked="true" slot="start">
      </ion-checkbox>
      <ion-text color="primary">Remember me</ion-text>
    </div>
    <br>
    <ion-button shape="round" fill="outline" [disabled]="!formdata.valid" (click)="onLogin(formdata)">login
    </ion-button>
    <ion-text color="primary" (click)="passwordChangeRequest()">
      <h6>Forget password ?</h6>
    </ion-text>
  </ion-card>

  <!-- <ng-template #dynamicLogin></ng-template> -->
  <div id="footer">
    <ion-text color="light" style="display: flex; justify-content: center;">
      <h5>Powered by SmartDocs Inc.</h5>
    </ion-text>
  </div>
</ion-content>
