<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary">
      <ion-title>{{data.requestId}}</ion-title>
    </ion-item>
    <div segment-block>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="info" checked>
          <ion-label>Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="comments">
          <ion-label>Comments</ion-label>
        </ion-segment-button>
        <ion-segment-button value="attachments">
          <ion-label>Attachments</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="is-empty-state-content" *ngIf="!data"
    style="padding: 2rem;display: flex; align-items: center; flex-direction: column;">
    <img src="assets/imgs/documents-empty-pngrepo-com.png" width="242" height="242" />
    <ion-text color="primary" class="ion-text-center">
      <h3>Nothing to show here</h3>
    </ion-text>
  </div>
  <ion-item lines="none">
    <ion-label slot="end" color="primary">Created By: {{data.createdBy}}</ion-label>
  </ion-item>
  <div *ngIf="segmentChange == 'info'">
    <ion-item>
      <ion-label position="floating">Reference Number</ion-label>
      <ion-input [readonly]=true name="Reference Number" [value]="data.header.XBLNR"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Invoice Category</ion-label>
      <ion-select readonly=true name="invoiceCategory" [value]="data.header.INVOICE_CAT">
        <ion-select-option value="AIRLINE">Airline</ion-select-option>
        <ion-select-option value="AIR_AGENT">Air Agent</ion-select-option>
        <ion-select-option value="CAR">Car</ion-select-option>
        <ion-select-option value="DOMSTIC_FREIGHT">Domestic freight</ion-select-option>
        <ion-select-option value="ELECTRICITY">Electricity</ion-select-option>
        <ion-select-option value="EMP_RESUMB">Employee Reimbursements</ion-select-option>
        <ion-select-option value="HOTEL">Hotel</ion-select-option>
        <ion-select-option value="INTRNAL_FRIGHT">International freight</ion-select-option>
        <ion-select-option value="LEGAL">Legal</ion-select-option>
        <ion-select-option value="MANUFCT_CHRGS">Manufacturing Charges</ion-select-option>
        <ion-select-option value="MEDICAL">Medical</ion-select-option>
        <ion-select-option value="TELEPHONE">Telephone</ion-select-option>
        <ion-select-option value="OTH">Others</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Company Code</ion-label>
      <ion-input [readonly]=true name="Company Code" [value]="data.header.BUKRS"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Vendor</ion-label>
      <ion-input [readonly]=true name="Vendor" [value]="data.header.LIFNR"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Vendor Name</ion-label>
      <ion-input [readonly]=true name="Vendor name" [value]="data.header.NAME1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Requester</ion-label>
      <ion-input [readonly]=true name="Requester" [value]="data.header.REQUESTOR"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Department</ion-label>
      <ion-input [readonly]=true name="Department" [value]="data.header.DEPT"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Division</ion-label>
      <ion-input [readonly]=true name="Division" [value]="data.header.LOCATION"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gstin Part Number</ion-label>
      <ion-input [readonly]=true name="Gstin Part Number" [value]="data.header.GSTIN_PART_NO"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">GST No</ion-label>
      <ion-input [readonly]=true name="GST No" [value]="data.header.GST_NO"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Alkem GST</ion-label>
      <ion-input [readonly]=true name="Alkem GST" [value]="data.header.ALKEM_GST"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tax Amount</ion-label>
      <ion-input [readonly]=true name="Tax Amount" [value]="data.header.TAX_AMOUNT"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Business Place</ion-label>
      <ion-input [readonly]=true name="Business Place" [value]="data.header.BUPLA"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Section</ion-label>
      <ion-input [readonly]=true name="Section" [value]="data.header.SECCO"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pan Number</ion-label>
      <ion-input [readonly]=true name="Pan Number" [value]="data.header.PAN_NO"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bus Place Number</ion-label>
      <ion-input [readonly]=true name="Bus Place Number" [value]="data.header.BUS_PLAC_NAME"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Section Name</ion-label>
      <ion-input [readonly]=true name="Section Name" [value]="data.header.SEC_CODE_NAME"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Invoice Description</ion-label>
      <ion-input [readonly]=true name="Invoice Description" [value]="data.header.BKTXT"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gross Amount</ion-label>
      <ion-input [readonly]="true" [value]="data.header.WRBTR"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Currency</ion-label>
      <ion-select readonly=true name="Currency" [value]="data.header.WAERS">
        <ion-select-option value="USD">USD</ion-select-option>
        <ion-select-option value="INR">INR</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item style="width: 100%;">
      <ion-label>Invoice Date</ion-label>
      <ion-datetime [readonly]=true [value]="data.header.BLDAT | date: 'MM/dd/yy'" placeholder="Select Date"
        name="Invoice Date">
      </ion-datetime>
    </ion-item>
    <ion-item style="width: 100%;">
      <ion-label>Posting Date</ion-label>
      <ion-datetime [readonly]=true [value]="data.header.BUDAT | date : 'MM/dd/yy'" placeholder="Select Date"
        name="Posting Date">
      </ion-datetime>
    </ion-item>
    <br>
    <br>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let data of data.lineItems; index as i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Line Item {{i + 1}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br>
        <ion-item>
          <ion-label position="floating">Order No.</ion-label>
          <ion-input [readonly]=true name="order number" [value]="data.lineItems.AUFNR"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">PO Number</ion-label>
          <ion-input [readonly]=true name="PO Item" [value]="data.lineItems.EBELN"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">GL Account</ion-label>
          <ion-input [readonly]=true name="gl" [value]="data.lineItems.HKONT"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Debit/Credit</ion-label>
          <ion-select readonly=true [value]="data.lineItems.SHKZG" name="D/C" placeholder="Select Option">
            <ion-select-option value="Debit">Debit</ion-select-option>
            <ion-select-option value="Credit">Credit</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Total Amount</ion-label>
          <ion-input [readonly]=true name="Total Amount" [value]="data.lineItems.WRBTR"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Item Text</ion-label>
          <ion-input [readonly]=true name="Item Text" [value]="data.lineItems.SGTXT"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Company Code</ion-label>
          <ion-input [readonly]=true name="Company Code" [value]="data.lineItems.BUKRS"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cost Center</ion-label>
          <ion-input [readonly]=true name="Cost Center" [value]="data.lineItems.KOSTL"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tax Code</ion-label>
          <ion-input [readonly]=true name="Tax" [value]="data.lineItems.MWSKZ"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">HSN/SAC Code</ion-label>
          <ion-input [readonly]=true name="HSN/SAC" [value]="data.lineItems.HSN_SAC"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Internal order</ion-label>
          <ion-input [readonly]=true name="Internal order" [value]="data.lineItems.INTERNAL_ORDER"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fund</ion-label>
          <ion-input [readonly]=true name="Fund" [value]="data.lineItems.GEBER"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Functional Area</ion-label>
          <ion-input [readonly]=true name="Functional Area" [value]="data.lineItems.FKBER"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Plant</ion-label>
          <ion-input [readonly]=true name="Plant" [value]="data.lineItems.WERKS"></ion-input>
        </ion-item>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="segmentChange == 'comments'">
    <ion-grid *ngIf="data != null">
      <ion-row>
        <ion-col size="11" offset="1">
          <ion-card class="ion-padding" *ngFor="let item of data.logs">
            <span span-small font-bold>{{dateService.getPortalDate(item.endDate)}}</span>
            <ion-item button transparent class="no-padding ion-margin-top" lines="none">
              <ion-avatar slot="start" class="is-icon-avatar background">
                <ion-icon name="person"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2 text-size-l>{{item.actualUser}}
                </h2>
                <h3>{{item.activityText}}</h3>
                <div clearfix></div>
              </ion-label>
            </ion-item>
            <ion-card-content class="no-padding">
              <p class="text-size-p ion-text-wrap ion-padding-top">{{item.comments}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="segmentChange == 'attachments'">
    <ion-text color="primary" class="ion-padding">
      <h1>Attachments</h1>
    </ion-text>
    <div *ngIf="data.attachments.length == 0">
      <ion-label color="secondary">No Attachments</ion-label>
    </div>
    <ion-list *ngFor="let item of data.attachments">
      <ion-item>
        <ion-icon color="primary" slot="start" name="document"></ion-icon>
        <ion-label slot="start" *ngIf="item">{{item.fileName}}</ion-label>
        <!-- <h6>Date: {{ dateService.getPortalDate(item.createDate) }}</h6> -->
        <ion-icon color="primary" slot="end" name="download" (click)="downloadFile(item.url,item.fileName)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <br>
</ion-content>
<ion-footer>
  <ion-button color="primary" (click)="closeModal()" expand="block">OK</ion-button>
</ion-footer>
