ion-card {
  margin-top: 1rem;
  background: #fafafa;
  // Settings Avatar
  ion-avatar {
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
}
ion-avatar.is-icon-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3880ff;

  ion-icon {
    color: white;
    font-size: 1.5em;
  }
}

.background {
  background-color: #3880ff;
}
