<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary">
      <ion-title>settings</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/user-profile"></ion-back-button>
      </ion-buttons>
    </ion-item>
    <div segment-block>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="about" checked>
          <ion-label>About</ion-label>
        </ion-segment-button>
        <ion-segment-button value="substitution">
          <ion-label>Substitution</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="segment == 'about'">
    <div *ngIf="!userInfo">
      <ion-text color="primary">
        <h5>No Data Available</h5>
      </ion-text>
    </div>
    <ion-grid *ngIf="userInfo">
      <ion-row>
        <ion-col size="12">
          <ion-card class="ion-padding ion-text-center animated fadeInDown">
            <ion-avatar slot="start" class="is-icon-avatar background">
              <ion-icon name="person" style="zoom: 3.0"></ion-icon>
            </ion-avatar>
            <ion-card-content>
              <h1 text-size-xlg>{{userInfo.login}}</h1>
              <h1 text-size-lg>{{userInfo.email}}</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form>
      <ion-card class="animated fadeIn" *ngIf="userInfo">
        <ion-card-header color="primary">
          <ion-card-title class="animated lightSpeedIn">Primary Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">First Name</ion-label>
            <ion-input [value]="userInfo.firstName"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Last Name</ion-label>
            <ion-input [value]="userInfo.lastName"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Middle Name</ion-label>
            <ion-input [value]="userInfo.firstName"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Display Name</ion-label>
            <ion-input [value]="userInfo.firstName+' '+userInfo.lastName"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Authority</ion-label>
            <ion-input readonly="true" [value]="userInfo.authorities[0]"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Activate User</ion-label>
            <ion-input readonly="true" [value]="userInfo.activated"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Currency</ion-label>
            <ion-input [value]="userInfo.currency"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Language</ion-label>
            <ion-input [value]="userInfo.language"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Decimal Seperator</ion-label>
            <ion-input [value]="userInfo.decimalSeparator"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Date Format</ion-label>
            <ion-input [value]="userInfo.dateFormat"></ion-input>
          </ion-item>
          <ion-item class="animated slideInRight">
            <ion-label color="primary" position="floating">Time Zone</ion-label>
            <ion-input [value]="userInfo.timeZone"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
  <div *ngIf="segment == 'substitution'">
    <ion-text color="primary" class="ion-padding">
      <h5>No Data Available</h5>
    </ion-text>
  </div>
</ion-content>
