ion-item {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
ion-card {
    // Settings Avatar
    ion-avatar {
      height: var(--cs-size-avatar);
      width: var(--cs-size-avatar);
      margin: 0 auto;
    }
  }
ion-avatar.is-icon-avatar {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3880FF;

    ion-icon {
      color: white;
      font-size: 1.5em;
    }
  }
  .background {
    background: #3880FF;
  }
