<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="is-empty-state-content" *ngIf="!listData"
    style="padding: 2rem;display: flex; align-items: center; flex-direction: column;">
    <img src="assets/imgs/documents-empty-pngrepo-com.png" width="242" height="242" />
    <h3>Nothing to show here</h3>
  </div>
  <ion-grid *ngIf="listData != null">
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none" class="ion-padding">
          <ion-item button class="ion-margin-top animated fadeInUp" *ngFor="let data of listData; index as i"
            (click)="openModel(data.docId)">
            <ion-avatar slot="start" class="is-icon-avatar background">
              <ion-icon class="animated fadeInLeft" name="document"></ion-icon>
            </ion-avatar>
            <ion-label class="animated lightSpeedIn">
              <h3 text-size-xs>Doc ID</h3>
              <h3 text-size-sm>{{data.docId}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
