<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alkem</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="profilePopover($event)">
        <ion-icon name="contact" color="light" slot="end" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="is-empty-state-content" *ngIf="!dataInbox"
    style="padding: 2rem;display: flex; align-items: center; flex-direction: column;">
    <img src="assets/imgs/documents-empty-pngrepo-com.png" width="242" height="242" />
    <ion-text color="primary" class="ion-text-center animated bounceInDown">
      <h3>Nothing to show here</h3>
    </ion-text>
  </div>
  <ion-card class="animated fadeInUp" color="{{global.getColorClass(i)}}" box-shadow
    *ngFor="let data of dataInbox; index as i" [routerLink]="['/menu/inbox/',data.requestType]">
    <ion-card-header>
      <ion-card-title class="animated lightSpeedIn"><strong>{{data.requestType}}</strong></ion-card-title>
      <ion-card-subtitle class="animated lightSpeedIn"><strong>{{data.description}}</strong></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h1 class="animated fadeInLeft"><b>{{data.total || 0}}</b></h1>
      <h2 class="animated fadeInLeft">Pending items </h2>
    </ion-card-content>
    <ion-item transparent class="no-padding" lines="none">
      <ion-avatar slot="end" class="is-icon-avatar background">
        <ion-icon class="animated slideInLeft" [name]="data.total > 0? 'mail-unread': 'mail-open'"></ion-icon>
      </ion-avatar>
    </ion-item>
  </ion-card>
</ion-content>
