<form #formdata="ngForm">
    <ion-item>
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="_parent.fakedata.email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="_parent.fakedata.password"></ion-input>
    </ion-item>
    <ion-button (click)="_parent.onClick(formdata.value)" fill="solid" shape="round">
        Submit
    </ion-button>
</form>
