ion-toolbar {
  --border-style: none;
}

ion-card {
  overflow: visible;
  position: relative;

  ion-item {
    --background: transparent;
  }

  &:after {
    content: "";
    width: 2px;
    background-color: var(--cs-background-secondary, #f7f7f7);
    border: 1px solid #b1b1b1;
    top: 20px;
    left: -20px;
    bottom: -30px;
    position: absolute;
  }

  &:before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--cs-background-accent, #0090d0);
    top: 19px;
    left: -26px;
    position: absolute;
    z-index: 999;
  }
}

ion-col > ion-card:last-child {
  &:after {
    display: none;
  }
}
ion-avatar.is-icon-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3880ff;

  ion-icon {
    color: white;
    font-size: 1.5em;
    zoom: 1.5;
  }
}
.background {
  background: #3880ff;
}
