<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary">
      <ion-title>{{data.requestId}}</ion-title>
    </ion-item>
    <div segment-block>
      <ion-segment scrollable="true" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="info" checked>
          <ion-label>Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="comments">
          <ion-label>Comments</ion-label>
        </ion-segment-button>
        <ion-segment-button value="attachments">
          <ion-label>Attachments</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="is-empty-state-content" *ngIf="!data"
    style="padding: 2rem;display: flex; align-items: center; flex-direction: column;">
    <img src="assets/imgs/documents-empty-pngrepo-com.png" width="242" height="242" />
    <ion-text color="primary" class="ion-text-center">
      <h3>Nothing to show here</h3>
    </ion-text>
  </div>
  <ion-item lines="none">
    <ion-label slot="end" color="primary">Created By: {{data.createdBy}}</ion-label>
  </ion-item>
  <div *ngIf="segmentChange == 'info'">
    <ion-item>
      <ion-label position="floating">Reference Number</ion-label>
      <ion-input readonly="true" [value]="data.header.XBLNR"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Invoice Catagory</ion-label>
      <ion-select name="invoice" [value]="data.header.INVOICE_CAT" placeholder="Select Option">
        <ion-select-option value="CAPEX_INV">CAPEX_INV</ion-select-option>
        <ion-select-option value="FG_INV">Finished Goods</ion-select-option>
        <ion-select-option value="FREIGHT">Freight</ion-select-option>
        <ion-select-option value="GIFTS">Gifts</ion-select-option>
        <ion-select-option value="IMPORT">Import</ion-select-option>
        <ion-select-option value="OPEX_INV">Opex Invoices</ion-select-option>
        <ion-select-option value="PM_INV">Packing Materials</ion-select-option>
        <ion-select-option value="PRMT">Promotional</ion-select-option>
        <ion-select-option value="RM_INV">Raw Materials</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Company Code</ion-label>
      <ion-input name="Company Code" [value]="data.header.BUKRS"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">PO number</ion-label>
      <ion-input name="PO number" [value]="data.header.EBELN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Vendor</ion-label>
      <ion-input name="Vendor" [value]="data.header.LIFNR"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Vendor Name</ion-label>
      <ion-input name="Vendor Name" [value]="data.header.NAME1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tax Amount</ion-label>
      <ion-input name="Tax Amount" [value]="data.header.TAX_AMOUNT"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Frieght Amount</ion-label>
      <ion-input name="Frieght Amount" [value]="data.header.FRIEGHT_AMT"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Business Place</ion-label>
      <ion-input name="Business Place" [value]="data.header.BUPLA"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">PAN Number</ion-label>
      <ion-input name="PAN Number" [value]="data.header.PAN_NO"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Doc. Header Text</ion-label>
      <ion-input name="Doc. Header Text" [value]="data.header.BKTXT"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Section</ion-label>
      <ion-input name="Section" ngModel [value]="data.header.SECCO"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bus Place Name</ion-label>
      <ion-input name="Bus Place Name" [value]="data.header.BUS_PLAC_NAME"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Section Name</ion-label>
      <ion-input name="Section Name" [value]="data.header.SEC_CODE_NAME"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gst Number</ion-label>
      <ion-input name="Gst Number" [value]="data.header.GST_NO"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Alkem GST</ion-label>
      <ion-input name="Alkem GST" [value]="data.header.ALKEM_GST"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gross Amount</ion-label>
      <ion-input name="Gross Amount" [value]="data.header.WRBTR"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Currency</ion-label>
      <ion-select [value]="data.header.WAERS" [placeholder]='data.header.WAERS'>
        <ion-select-option value="USD">USD</ion-select-option>
        <ion-select-option value="INR">INR</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item style="width: 100%;">
      <ion-label>Invoice Date</ion-label>
      <ion-datetime [readonly]=true [value]="data.header.BLDAT | date: 'MM/dd/yy'" placeholder="Select Date"
        name="Invoice Date">
      </ion-datetime>
    </ion-item>
    <ion-item style="width: 100%;">
      <ion-label>Posting Date</ion-label>
      <ion-datetime [readonly]=true [value]="data.header.BUDAT | date : 'MM/dd/yy'" placeholder="Select Date"
        name="Posting Date">
      </ion-datetime>
    </ion-item>
    <br>
    <br>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let data of data.lineItems; index as i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Line Item {{i + 1}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br>
        <ion-item>
          <ion-label position="floating">Order No.</ion-label>
          <ion-input name="order number" [value]="data.lineItems.AUFNR"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">PO Item</ion-label>
          <ion-input name="PO Item" [value]="data.lineItems.EBELN"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Material</ion-label>
          <ion-input name="Material" [value]="data.lineItems.MATNR"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Item Text</ion-label>
          <ion-input name="Item Text" [value]="data.lineItems.TXZ01"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Quantity</ion-label>
          <ion-input name="Quantity" [value]="data.lineItems.MENGE"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Unit Of Measure</ion-label>
          <ion-input name="Unit Of Measure" [value]="data.lineItems.MEINS"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Unit Price</ion-label>
          <ion-input name="Unit Price" [value]="data.lineItems.NETPR"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Total Amount</ion-label>
          <ion-input name="Total Amount" [value]="data.lineItems.NETWR"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">PO Number</ion-label>
          <ion-input name="PO Number" [value]="data.lineItems.EBELN"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tax Code</ion-label>
          <ion-input name="Tax Code" [value]="data.lineItems.MWSKZ"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">HSN/SAC Code</ion-label>
          <ion-input name="HSN/SAC Code" [value]="data.lineItems.HSN_SAC"></ion-input>
        </ion-item>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="segmentChange == 'comments'">
    <ion-grid *ngIf="data != null">
      <ion-row>
        <ion-col size="11" offset="1">
          <ion-card class="ion-padding" *ngFor="let item of data.logs">
            <span span-small font-bold>{{dateService.getPortalDate(item.endDate)}}</span>
            <ion-item button transparent class="no-padding ion-margin-top" lines="none">
              <ion-avatar slot="start" class="is-icon-avatar background">
                <ion-icon name="person"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2 text-size-l>{{item.actualUser}} <h1>{{item.activityText}}</h1>
                </h2>
                <div clearfix></div>
              </ion-label>
            </ion-item>
            <ion-card-content class="no-padding">
              <p class="text-size-p ion-text-wrap ion-padding-top">{{item.comments}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="segmentChange == 'attachments'">
    <ion-text color="primary" class="ion-padding">
      <h1>Attachments</h1>
    </ion-text>
    <div *ngIf="data.attachments.length == 0">
      <ion-label color="secondary">No Attachments</ion-label>
    </div>
    <ion-list *ngFor="let item of data.attachments">
      <ion-item>
        <ion-icon color="primary" slot="start" name="document"></ion-icon>
        <ion-label *ngIf="item">{{item.fileName}}</ion-label>
        <!-- <h6>Date: {{ dateService.getPortalDate(item.createDate) }}</h6> -->
        <ion-icon color="primary" slot="end" name="download" (click)="downloadFile(item.url,item.fileName)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <br>
</ion-content>
<ion-footer>
  <ion-button color="primary" (click)="closeModal()" expand="block">OK</ion-button>
</ion-footer>
