
<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="inbox">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="request">
      <ion-icon name="create"></ion-icon>
      <ion-label>Request</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
