<ion-content>
  <ion-list lines="none">
    <ion-button mode="ios" expand="full" fill="solid" (click)="closePopup()">
      <ion-icon class="animated fadeInLeft" slot="start" name="person"></ion-icon>
      <ion-label class="animated lightSpeedIn">My Profile</ion-label>
    </ion-button>
    <ion-button mode="ios" expand="full" fill="solid" color="light" (click)="changePassword()">
      <ion-icon class="animated fadeInLeft" slot="start" name="key"></ion-icon>
      <ion-label class="animated lightSpeedIn">Change Password</ion-label>
    </ion-button>
    <ion-button mode="ios" expand="full" fill="solid" color="danger" (click)="logout()">
      <ion-icon class="animated fadeInLeft" slot="start" name="log-out"></ion-icon>
      <ion-label class="animated lightSpeedIn">Logout</ion-label>
    </ion-button>
  </ion-list>
</ion-content>
