ion-card {
  display: block;
  height: fit-content;
  width: 90%;
  min-height: 180px;
  margin: auto;
  margin-top: 20px;
}

ion-card-content {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
ion-card-header {
  margin: 0 auto;
}

ion-avatar.is-icon-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    color: white;
    font-size: 1.5em;
    zoom: 2.5;
  }
}
ion-spinner {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 9999999999;
  overflow: hidden;
  background: transparent;
  left: 50%;
  margin-left: -4em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}
