<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alkem</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="profilePopover($event)">
        <ion-icon name="contact" color="light" slot="end" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="is-empty-state-content" *ngIf="!requestData"
    style="padding: 2rem;display: flex; align-items: center; flex-direction: column;">
    <img src="assets/imgs/documents-empty-pngrepo-com.png" width="242" height="242" />
    <ion-text color="primary" class="ion-text-center">
      <h3>Nothing to show here</h3>
    </ion-text>
  </div>
  <ion-spinner *ngIf="loading" name="crescent" class="loader animated bounceOut" color="primary"></ion-spinner>
  <ion-card class="animated fadeInUp" color="{{global.getColorClass(i)}}" box-shadow *ngFor="let data of requestData; index as i;"
    [routerLink]="['/menu/request/',data.name]">
    <ion-card-header>
      <ion-card-title class="animated lightSpeedIn"><strong>{{data.docType}}</strong></ion-card-title>
      <ion-card-subtitle class="animated lightSpeedIn"><strong>{{data.description}}</strong></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h2 class="animated fadeInLeft">{{data.prefix}}</h2>
    </ion-card-content>
    <ion-item transparent class="no-padding" lines="none">
      <ion-avatar slot="end" class="is-icon-avatar background">
        <ion-icon class="animated slideInLeft" name="document"></ion-icon>
      </ion-avatar>
    </ion-item>
  </ion-card>
</ion-content>
