<ion-content class="ion-padding">
  <ion-icon name="arrow-round-back" color="light" style="zoom: 3;" [routerLink]="['/menu/inbox']"></ion-icon>
  <ion-card class="animated fadeInUp">
    <ion-card-header>
      <ion-img src="assets/imgs/logo/alkem-logo.png"></ion-img>
      <ion-card-title color="primary">Change your password</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #formdata="ngForm">
        <ion-item>
          <ion-label position="stacked">Enter Password
            <ion-text color="primary">*</ion-text>
          </ion-label>
          <ion-input [type]="!showIcon? 'password': 'text'" name="password" #password="ngModel" ngModel required>
            <ion-icon slot="start" name="key"></ion-icon>
            <ion-icon id="eyeIcon" [name]="!showIcon? 'eye-off': 'eye'" slot="end" (click)="showPassword()"
              color="primary">
            </ion-icon>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="password.touched && password.invalid">
          <p>Please Enter new password</p>
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Re-Enter Password
            <ion-text color="primary">*</ion-text>
          </ion-label>
          <ion-input type="password" name="repassword" #repassword="ngModel" ngModel required>
            <ion-icon slot="start" name="key"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="repassword.touched && repassword.invalid">
          <p>Please Re-Enter new password</p>
        </ion-text>
        <ion-text color="danger" *ngIf="password.value !== repassword.value">
          <p>Password does not match</p>
        </ion-text>
        <br><br>
        <ion-button (click)="sendpassword(formdata.value)" fill="solid" expand="block" shape="round">
          Save
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
